# Julia stuff
*.jl.cov
*.jl.*.cov
*.jl.mem
*.mem
deps/deps.jl
/Manifest.toml
/LocalPreferences.toml

# Swap files.
*.swp
*~

# Documenter.jl and MkDocs
docs/build
docs/site
#docs/src/literated
docs/Manifest.toml

# Model output
*.dat
*.data
*.nc
*.jld2
*.mat
# ...but keep the test reference data
!test/data/reference_*

# Checkpointer model serialization
*.jlser
*.jld

# Plots
*.png
*.svg
*.gif
*.mp4

# Benchmark output
*.html
*.json
*.bson

# Profiler output
*.qdrep

# Grid files
*.tgz
*.bin
*.m

# Jupyter Lab stuff and old notebooks
.ipynb_checkpoints
/dev_testing

# MacOS stuff
*.DS_Store

# VSCode
.vscode

# AMGX
.logamgx

statprof
*.sqlite
*.nsys-rep

# Conda
/.CondaPkg
docs/.CondaPkg

# Docs
# Generate the videos locally and push to git to avoid action timeout during build docs
docs/local_compile.sh
!docs/src/literated/*.mp4 

# Testing
!test/data/reference_sim.jld2
!test/data/reference_offline_output.jld2
!test/data/reference_online_output.jld2 

# Draft paper 
/JOSS_paper_draft
.github/workflows/draft-pdf.yml

# Zenodo metadata file
!.zenodo.json
# Optional Python interpolation helper
__pycache__/
*.pyc
